@charset "UTF-8";

/*	STANDARD	*/

body { 
  margin: 0;
  font-family: Sanita, Arial, Helvetica, sans-serif;
  max-width: 100%;
  font-size: 14px;
  line-height: 1.4;
}

li {
	list-style: none;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	font-size: 100%;
	text-decoration: none;
	color:#ea4f3d;
}

/*		Width for the content on site		*/

.wrapper {
	max-width: 840px;
	margin: 0 25%;
	padding: 0 25px 25px 25px;
}

.form {
	text-align: center;
	max-width: 1300px
}


/*		CSS Style for Header	*/

.header {
	overflow: hidden;
	background-color: white;
	margin: 0px 5px 10px 5px;
}	


.header a {
	float: left;
}

.header-right {
	float: right;

}

.header-right a {
	padding: 65px 5px 15px 5px;
	font-size: 14px;
  	align-items: baseline;
  	color: #000;
}

.header-right a:link {
	text-decoration: none;
}

.header-right a:visited {
	text-decoration: none;
}

.header-right a:hover {
	background-color: #ea4f3d;
	color: #fce8e5;
	border-radius: 0px 0px 10px 10px;
}

.header-right a:active {
	color: #fce8e5;
	background-color: #ea4f3d;
}

/*		CSS for LOGO		*/ 

.logo {
	padding-top: 5px;
	height: auto;
	justify-content: center;
}

/*		CSS for BANNERS */

.top-banner img {
	max-width: 100%;
	height: auto;
}

/*		CSS Main Content		*/

.headline {
	padding: 25px;
	text-align: center;
}

.headline h3 {
	font-weight: 300;
	color: #888888;
}

/*		CSS Slider		*/

ul {
	list-style: none outside none;
	padding: 0px;
}

/*	FORM Div 	*/

/* hide up/down arrows ("spinners") on input fields marked type="number" */
.no-spinners {
  -moz-appearance:textfield;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form {
	width: 790px;
}

form div {
	display: inline-block;
	height: 30px;
	padding:10px;
	text-align: left;
}

form div label {
	display: block;
	width: 350px;
}

form div input {
	width: 350px;
	border-radius: 5px;
	height: 20px;
	text-align: left;

}

.radio {
	width: 10px;
}

.form-meddelande {
	width: 730px;
	height: 150px;
	border-radius: 5px;
	resize: none;
}

.submit {
	color: white;
	background-color: #ea4f3d;
	border-radius: 5px;
	width: 730px;
	padding: 5px;

}

/*	CSS FOOTER 	*/


.footerbg {
	display: flex;
	justify-content: center;
	background-image: url('../images/footerbanner.png');
	position: relative;
	text-align: center;
	color: white;
}

.overlay {
	align-items: center;

}

.overlay img {
	width: 790px;
	height: auto;
}

.overlay h2 {
	position: absolute;
	top: 20%;
	text-align: center;
	left: 40%;
	transform: translate(-20%, 10%);
}

.footer-text {
	margin: 0px;
	padding: 25px 0px;
	font-size: 100%;
	display: flex;
}

.col1 {
	display: inline-block;
	width: 23%;
	height: 300px;
	flex: 1;
	color: black;
}

.col2, .col3, .col4 {
	padding-left: 20px;
	display: inline-block;
	width: 23%;
	height: 300px;
	flex: 1;
	color: black;

}
.col1 .col2 .col3 .col4 ul {
	margin-bottom: 5px;
	padding-left: 0px;

}




.col4 {
	text-align: right;
	text-align: right;
	font-size: 11px;
}
