@charset "UTF-8";
/*		STANDARD		*/
html{
	font-size: 62.5%;
}
body {
  margin: 0;
  font-family: Sanita, Arial, Helvetica, sans-serif;
  max-width: 100%;
  font-size: 1.5rem;
  line-height: 1.4;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	font-size: 100%;
	text-decoration: none;
	color:#ea4f3d;
}

li {
	list-style: none;
}

ul {
	list-style: none outside none;
	padding: 0px;
}

.wrapper {
	max-width: 1200px;
	margin: 0 25%;
	padding: 0 25px 25px 25px;
}

.form {
	text-align: center;
	max-width: 1200px;
}

/*		CSS Style for Header		*/

.header {
	overflow: hidden;
	background-color: white;
	margin: 0px 5px 10px 5px;
	display: flex;
}	

.header a {
	float: left;
}


/*		Navigation Menu		*/

.menuLable {
	display: none;
	font-size: 3rem;
}

#toggle{
	display: none;
}

.nav {
	width: 100%;
}

.menu {
	float: right;
}

.menu a {
	padding: 65px 5px 15px 5px;
	font-size: 2rem;
	align-items: start;
	color: #000;
	font-weight: 200;
}

.menu a:link {
	text-decoration: none;
}

.menu a:visited {
	text-decoration: none;
}

.menu a:hover {
	background-color: #ea4f3d;
	color: #fce8e5;
	border-radius: 0px 0px 10px 10px;
}

.menu a:active {
	color: #fce8e5;
	background-color: #ea4f3d;
}

/*		CSS for LOGO		*/ 

.logo {
	padding-top: 5px;
	height: auto;
	justify-content: center;
}

/*		CSS for BANNERS		*/

.top-banner img {
    width: 100%;
    max-height: 350px;
    overflow: hidden;
}

/*		CSS Main Content		*/

.headline {
	padding: 5%;
	text-align: center;
}

.headline h3 {
	font-weight: 300;
	color: #888888;
}

.information {
	text-align: center;
	padding: 0 5%;
	border-bottom: 1px solid gray;
	font-weight: 800;

}

/*		CSS PANEL 		*/
.panels {
	margin: 50px -10px;
	overflow: auto;
	font-size: 1.5rem;
}

.panel {
	width: calc(50% - 20px);
	float: left;
	margin: 10px;
	text-align: left;
	background-color: #eeeeee;
}
.panel-header {
	border-radius: 5px 5px 0 0;
	padding: 10px 20px;
	background-color: #ea4f3d;
	color: white;
	font-family: Asap;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
}

.panel-body,
.panel-body a{
	color: #888888;
	font-size: 13px;	
	margin: 0;
	font-size: 1.5rem;
}

.panel-body a:hover {
	font-size: 100%;
	text-decoration: none;
	color:#ea4f3d;
}

.panel-item label{
	color: #888888;
	font-size: 13px;	
	margin: 0;
	font-size: 1.5rem;
}

.panel-item{
	padding: 10px 20px;
	background-color: #eeeeee;
	color: inherit;
	border-top: 1px solid #fff;
}

.item-right {
	text-align: right;
	float: right;
	font-weight: 200;
	color: black;
}

/*		CSS Slider Pictures			*/

.slider {
	padding: 25px;
}

.main-slide img,
.imgs img{
	width: 100%;
}

.main-slide img {
	height: 450px;
}

.imgs {
	justify-content: center;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 5px;
	height: 85px;
	width: 100%;
	margin: 0;
}

.imgs img {
	height: 85px;
}

/*		CSS FORM Div 		*/

/* hide up/down arrows ("spinners") on input fields marked type="number" */
.no-spinners {
	-moz-appearance:textfield;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

form {
	/* width: 790px; */
	padding: 0 5%;
}

form div {
	display: inline-block;
	height: 30px;
	padding:10px;
	text-align: left;
}

form div label {
	display: block;
	width: 350px;
}

form div input {
	width: 350px;
	border-radius: 5px;
	height: 20px;
	text-align: left;
}

.radio {
	width: 10px;
}

.form-meddelande {
	width: 730px;
	height: 150px;
	border-radius: 5px;
	resize: none;
}

.submit {
	color: white;
	background-color: #ea4f3d;
	border-radius: 5px;
	width: 730px;
	padding: 5px;
	text-align: center;
}

/*		CSS FOOTER 		*/

.footerbg {
	display: flex;
	background-image: url('../images/footerbanner.png');
	background-repeat: repeat-x;
	position: relative;
	text-align: center;
	color: white;
	width: 100%;
	max-height: 250px;
}

.overlay{
	padding-top: 25px;

}
.overlay img {
	height: 20rem;
	padding: 0 20rem;
}

.overlay h2 {
	position: absolute;
	top: 20%;
	text-align: center;
	left: 40%;
	transform: translate(-20%, 10%);
	font-size: 3rem;
}

.footer-text {
	margin: 0px;
	padding: 25px 0px;
	font-size: 100%;
	display: flex;
}

.col1 {
	display: inline-block;
	width: 23%;
	height: 300px;
	flex: 1;
	color: black;
}

.col2, .col3, .col4 {
	padding-left: 20px;
	display: inline-block;
	width: 23%;
	height: 300px;
	flex: 1;
	color: black;

}

.col1 .col2 .col3 .col4 ul {
	margin-bottom: 5px;
	padding-left: 0px;

}

.col4 {
	text-align: right;
	font-size: 11px;
}

.col4 img {
	width: 182px;
}




@media (max-width:1024px) { 

/*portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

.menuLable {
	display: none;
	font-size: 3rem;
}

.wrapper {
	width: 80%;
	margin: 0 10%;
	box-sizing: border-box;
	min-height: 100%;
	height: auto;
	position: relative;
}

.logo {
	height: 4em;
	float: left;
}

.header{
	margin: 0;
	padding: 0 5%;
}

.information {
	width: 80%;
}

.top-banner img{
	width: 100%;
	max-height: auto;
	overflow: hidden;
}

.slider {
	width: 80%;
}

.main-slide img, 
.imgs img {
	width: 100%;
	height: auto;
}

.imgs {
	padding: 0 25px;
	height: auto;
}

.main-slide img{
	width: 100%;
	padding: 25px;
}

.panel-item{
	height: 5rem;
	font-size: 1rem;
}

.panel-header{
	font-size: 0.8rem;
	text-align: center;
	font-weight: 800;
}

.panel-body{
	font-size: 1.2rem;
	text-align: center;
	font-weight: 800;
}

.panel-body,
.panel-body a {
	font-size: 1rem;
	margin: 0;
}

.item-right{
	text-align: center;
	float: none;
	line-height: 4rem;
	font-weight: 800;
}

form {
	width: 80%;
	padding: 0 5%;
}

form div {
	display: inline-block;
	/* height: 30px; */
	padding:10px;
	text-align: left;
	width: 20rem;
}

form div label {
	display: block;
	width: auto;
	font-size: 1rem;
	font-weight: 800;
}

form div input {
	width: 20rem;
	border-radius: 5px;
	height: 20px;
	text-align: left;
}

.form-meddelande {
	width: 20rem;
	height: auto;
	border-radius: 5px;
	resize: none;
}

.submit {
	color: white;
	background-color: #ea4f3d;
	border-radius: 5px;
	width: 20rem;
	padding: 5px;
	text-align: center;
	font-weight: 600;

}


.footerbg {
	display: flex;
	background-image: url("../images/footerbanner.png");
	background-repeat: repeat-x;
	position: relative;
	text-align: center;
	color: white;
	width: 100%;
	max-height: 100px;
}

.overlay h2 {
	position: absolute;
	top: 20%;
	text-align: center;
	left: 35%;
	transform: translate(-20%, 10%);
	font-size: 1.5rem;
}
.overlay,
.overlay img {
	width: 100%;
	height: 80px;
	padding: 5px;
}

.footer-text {
	display: grid;
	grid-template-columns: auto auto;
	height: 400px;
	font-size: 1rem;
}

.col1,
.col2,
.col3,
.col4{
	width: auto;
	height: auto;
	padding: 5px;
	font-size: 1.25rem;
}

.col4 {
	text-align: left;
}

.col4 img{
	height: 6rem;
	width: auto;
}

#toggle {
	display: none;
}

.menu {
	text-align: right;
	display: block;
}

.menu a {
	display: block;
	margin: 0;
	font-weight: 800;
	font-size: 0.75rem;
}
#toggle:checked + .menu{
	display: none;
}
.panel-item label{
	font-size: 1rem;
	display: block;
	margin: 0;
	line-height: 1rem;
}

}


/* Phone and tablets 640px*/

@media only screen and (max-width:640px) { 

.menuLable {
	display: block;
	font-size: 3rem;
}

.wrapper {
	width: 100%;
	margin: 0 5% 0 0;
	box-sizing: border-box;
	min-height: 100%;
	height: auto;
	position: relative;
	padding: 5px;
}

.logo {
	height: 4em;
	float: left;
}

.nav {
	width: 100%;
	text-align: right;
}

.header{
	margin: 0;
}

.information {
	width: 80%;
}

.top-banner img{
	width: 100%;
	overflow: hidden;
}

.slider {
	width: 80%;
}

.main-slide img, 
.imgs img {
	width: 100%;
	height: auto;
}

.imgs {
	padding: 0 25px;
	height: auto;
}

.main-slide img{
	width: 100%;
	padding: 25px;
}

.panel-item{
    height: 5rem;
    font-size: 1rem;
}

.panel-header{
	font-size: 0.8rem;
	text-align: center;
	font-weight: 800;
}

.panel-body{
	font-size: 1.2rem;
	text-align: center;
	font-weight: 800;
}

.panel-body,
.panel-body a {
	font-size: 1rem;
	margin: 0;
}

.item-right{
	text-align: center;
	float: none;
	line-height: 4rem;
	font-weight: 800;
}

form {
	/* width: 300px; */
	padding: 0 5%;
}

form div {
	display: inline-block;
	/* height: 30px; */
	padding:10px;
	text-align: left;
	width: 20rem;
}

form div label {
	display: block;
	width: auto;
	font-size: 1rem;
	font-weight: 800;
}

form div input {
	width: 20rem;
	border-radius: 5px;
	/* height: 20px; */
	text-align: left;
}

.form-meddelande {
	height: auto;
	border-radius: 5px;
	resize: none;
}

.submit {
	color: white;
	background-color: #ea4f3d;
	border-radius: 5px;
	width: 20rem;
	padding: 5px;

}

.overlay{
	padding: 0;
}
.overlay h2 {
	position: absolute;
	top: 20%;
	text-align: center;
	left: 35%;
	transform: translate(-20%, 10%);
	font-size: 1rem;
}

.overlay img {
	width: 80%;
	max-height: 80px;
}

.footerbg {
	display: flex;
	background-image: url('../images/footerbanner.png');
	background-repeat: repeat-x;
	position: relative;
	text-align: center;
	color: white;
	width: 100%;
	max-height: 100px;
}

.footer-text {
	display: grid;
	grid-template-columns: auto auto;
	height: 400px;
	font-size: 1rem;
}

.col1,
.col2,
.col3,
.col4{
	width: auto;
	height: auto;
	padding: 5px;
}

.col4 img{
	width: 75%;
}

#toggle {
	display: none;
}

.menu {
	width: 100%;
	display: none;
}

.menu a {
	margin: 0;
	font-weight: 800;
	font-size: 0.75rem;
	padding: 5px;
}

#toggle:checked + .menu{
	display: block;
}

.panel-item label{
	font-size: 1rem;
	display: block;
	margin: 0;
	line-height: 1rem;
}
}